*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


.nav-logo{
    height: 250x;
    width: 250px;
    padding: 20px 50px;
    
}

.nav-cabecera{
    background: rgb(248, 246, 246);
    height: 150px;
    align-items: center;
    padding: 0 10px;
    overflow: hidden;
    display:grid;
    grid-template-columns: repeat(5,max-content);
    justify-content: space-between;  
}

.nav-link{
    font-size: 25px;
    text-decoration: none;
    color: #000000;
    margin-left: 2em;
}

.nav-boton{
    font-size: 25px;
    text-decoration: none;
    color: #000000;
    margin-left: 2em;
}

.nav-boton{
    width: 40px;
    background: aquamarine;
    border-radius: 10px;
    padding: 5px 30px;
}

#carrito-icono{
    margin-left: 2em;
    background: aquamarine;
    border-radius: 10px;
    padding: 11px 30px;

}



.nav-cta{
    font-size: 18px;
    text-decoration: none;
    color: #000000;   
}

    
#central{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
    height: 80vh;       
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

#somos-procycling .container{
    text-align: center;
    padding: 100px 12px;
    font-size: 30px;
}

.final{
    background-color: #242424;
    padding: 80px 0;
}

.final-fila{
    display: flex;
    flex-wrap:wrap ;
}

.final-enlaces{
    width: 50%;
    padding: 0 15px;
}

.final-enlaces h4{
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    display: flex;
    padding-bottom: 10px;
    display: inline-block;
}

.final-enlaces ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.final-enlaces ul li a:hover{
    color: #FFFFFF;
    padding-left: 6px;
}

li {
    color: #FFFFFF;
    padding: 5px;
}

.social-link a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all .5s ease;
}

.social-link a:hover{
    background-color: #00c3ff;
}

@media(max-width:991px){
    .final-fila{
        text-align: center;
    }

    .final-enlaces{
        width: 100%;
        margin-bottom: 30px;
    }

}

@media(max-width:991px){
    .nav-cabecera{
        text-align: center;
    }

   
}